<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300"
       alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

</div>

<div *ngIf="post | async as p">

  <div fxLayout="column"
       fxLayoutAlign="center center">
    <h2>{{p.text}}</h2>
    <h2>Votes: {{p.likes}}</h2>
    <div fxLayout="row"
         fxLayoutAlign="space-between center">

      <div class="button-container">
        <button mat-raised-button
                color="primary"
                (click)="upvote()">Upvote</button>
      </div>
      <div class="button-container">
        <button mat-raised-button
                color="primary"
                (click)="downvote()">Downvote</button>
      </div>
      <div class="button-container">
        <button (click)="reset()"
                mat-raised-button
                color="primary">Reset</button>
      </div>

    </div>

    <div fxLayout="row"
         class="change-title-container">
      <input type="text"
             [(ngModel)]="text">
      <button mat-raised-button
              color="primary"
              (click)="editText()">Change title</button>
    </div>

  </div>
</div>
